# ignore all files
*

# then allow specific ones
# gradle files
!gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradle/libs.versions.toml
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!cmm-to-jvm-compiler/build.gradle

# source files
!cmm-to-jvm-compiler/src/
!cmm-to-jvm-compiler/src/**/*

# documentation
!README.md
!*.md

# git files
!.gitignore
