# ignore all files
*

# then allow specific ones
# gradle files
!gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!app/build.gradle

# Source files
!app/src/
!app/src/**/*

# Documentation
!README.md
!*.md

# Git files
!.gitignore
